<%- include("header") -%>
    <% if (KindofDay === "Weekday") { %>

    <div class="box" heading="heading">
        <h1 style="color: rgb(60, 193, 113)">It's a <%= KindofDay %>!</h1>
    </div>

    <% } else { %>

    <div class="box" heading="heading"></div>
        <h1 style="color: Blue">It's a <%= KindofDay %>!</h1>  
    </div>  

    <% } %>

    <div class="box">
        <ul>
            <% for(var i = 0; i<newListitem.length; i++) { %>
            <div class="item">
            <input type="checkbox">
                <p><%= newListitem[i] %></p>
            </div>
            <% } %>
        </ul>
        <form class="item" action="/" method="post"> 
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="button">+</button>
        </form>
    </div>

    <%- include("footer") -%>